# Configurações do Banco Ágil
CPF_SALT=banco_agil_salt_2026

# Configurações do OpenRouter / OpenAI
OPENROUTER_API_KEY=seu_token_aqui
# Opcional se for usar OpenAI direto
OPENAI_API_KEY=seu_token_aqui

# Rastreabilidade LangSmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=seu_token_langsmith_aqui
LANGCHAIN_PROJECT=banco-agil
